<p>balance works!</p>
https://stackblitz.com/edit/primeng-table-addnewrow?file=src%2Fapp%2Fadd-row.directive.ts

<p-toast></p-toast>
<p-card header="Personen">
  <p-table #dt1 [value]="sheetDto.persons" dataKey="id" [style]="{width:'200px'}">
    <ng-template pTemplate="header" let-columns>
        <tr>
          <th>Name</th>
          <th>Kürzel</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
          <td>
            {{rowData.name}}
          </td>
          <td>
            {{rowData.letter}}
          </td>
        </tr>
    </ng-template>
  </p-table>
</p-card>

<p-card header="Daten">
  <p-table #dt2 [value]="sheetDto.rows" [columns]="sheetDto.cols" dataKey="id" editMode="row" (sortFunction)="customSort($event)" [customSort]="true">
    <ng-template pTemplate="header" let-columns>
        <tr>
          <ng-container *ngFor="let col of columns" [ngSwitch]="true">
            <th *ngSwitchCase="col.label !== ''" pSortableColumn="{{col.id}}">
              {{col.label}}<p-sortIcon *ngSwitchCase="col.label !== ''" field="{{col.id}}"></p-sortIcon>
            </th>
            <th *ngSwitchDefault>
              {{col.label}}
            </th>
          </ng-container>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
			  <ng-container *ngFor="let col of columns" [ngSwitch]="true">
				  <td class="rightClass" *ngSwitchCase="col.number">{{col.accessor(rowData) | number: '1.2-2'}}</td>
				  <td *ngSwitchCase="col.date">{{col.accessor(rowData)  | date: 'dd.MM.yyyy'}}</td>
				  <td *ngSwitchDefault>{{col.accessor(rowData)}}</td>
			  </ng-container>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer" let-columns>
      <tr>
	  <ng-container *ngFor="let col of columns" [ngSwitch]="true">
          <td class="rightClass" *ngSwitchCase="col.number">{{col.footer | number: '1.2-2'}}</td>
          <td *ngSwitchCase="col.date">{{col.footer | date: 'dd.MM.yyyy'}}</td>
          <td *ngSwitchDefault>{{col.footer}}</td>
	  </ng-container>
	   </tr>
    </ng-template>
  </p-table>
</p-card>

<!--div class="card">
  <h5>Row Editing</h5>
      <p-table #dt [value]="products2" dataKey="id" editMode="row">
          <ng-template pTemplate="header">
              <tr>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Quantity</th>
                  <th style="width:8rem"></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product let-c let-editing="editing" let-ri="rowIndex">
              <tr [pEditableRow]="product">
                  <td pEditableColumn>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="product.code">
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{product.code}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td pEditableColumn>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="product.name" required>
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{product.name}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td pEditableColumn>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <p-dropdown [options]="statuses" [(ngModel)]="product.inventoryStatus" [style]="{'width':'100%'}"></p-dropdown>
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{product.inventoryStatus}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td pEditableColumn>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="product.price">
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{product.price | currency: 'USD'}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td style="text-align:center">
                      <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                      <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(product)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                      <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(product, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                  </td>
              </tr>
          </ng-template>
      </p-table>
  </!div-->
<br/>

<!--button pButton type="button"icon="pi pi-plus" class="ui-button-info" [label]="'Add'"
pAddRow [table]="dt" [newRow]="newRow()"></!--button-->
