<p>balance works!</p>
https://stackblitz.com/edit/primeng-table-addnewrow?file=src%2Fapp%2Fadd-row.directive.ts

<p-toast></p-toast>

<p-contextMenu #personMenu [model]="personMenuItems"></p-contextMenu>

<p-card header="Personen">
  <p-table #dt1 [value]="sheetDto.persons" [(contextMenuSelection)]="selectedPerson" [contextMenu]="personMenu" styleClass="p-datatable-sm"  dataKey="id" [style]="{width:'200px'}">
    <ng-template pTemplate="header" let-columns>
        <tr>
          <th>Name</th>
          <th>Kürzel</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr [pContextMenuRow]="rowData">
          <td>
            {{rowData.name}}
          </td>
          <td>
            {{rowData.letter}}
          </td>
        </tr>
    </ng-template>
  </p-table>
</p-card>

<p-contextMenu #rowMenu [model]="rowMenuItems"></p-contextMenu>

<p-card header="Daten">
  <p-table #dt [value]="sheetDto.rows" [(contextMenuSelection)]="selectedRow" [contextMenu]="rowMenu" styleClass="p-datatable-sm" [columns]="sheetDto.cols" dataKey="id" editMode="row" (sortFunction)="customSort($event)" [customSort]="true">
    <ng-template pTemplate="header" let-columns>
        <tr>
          <ng-container *ngFor="let col of columns" [ngSwitch]="true">
            <th *ngSwitchCase="col.label !== ''" pSortableColumn="{{col.id}}">
              {{col.label}}<p-sortIcon *ngSwitchCase="col.label !== ''" field="{{col.id}}"></p-sortIcon>
            </th>
            <th *ngSwitchDefault>
              {{col.label}}
            </th>
          </ng-container>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="rowData" [pContextMenuRow]="rowData">
          <ng-container *ngFor="let col of columns" [ngSwitch]="true">

            <td *ngSwitchCase="col.editable">
              <p-cellEditor>

                <ng-template pTemplate="input" [ngSwitch]="true">
                  <p-calendar *ngSwitchCase="col.type=='date'" styleClass="calendar" [inputStyle]="{'width':'100px'}"
                      [(ngModel)]="col.delegate.var(rowData).value"
                      appendTo="body"
                      dateFormat="{{'dd.mm.yy'}}"
                      placeholder="Select"
                      style="width:100px; margin-left:-0.5rem; margin-top:-0.5rem; margin-top:-0.5rem; margin-bottom:-0.5rem">
                  </p-calendar>
                  <p-dropdown *ngSwitchCase="col.type=='person'" [options]="sheetDto.persons" optionLabel="letter" appendTo="body" [(ngModel)]="col.delegate.var(rowData).value"
                  style="width:100px; margin-left:-0.5rem; margin-top:-0.5rem; margin-top:-0.5rem; margin-bottom:-0.5rem"></p-dropdown>
                  <p-multiSelect *ngSwitchCase="col.type=='persons'" [options]="personsPlusA" optionLabel="letter" [filter]="false" [showToggleAll]="false" [showHeader]="false" appendTo="body" [(ngModel)]="col.delegate.var(rowData).value"
                  style="width:100px; margin-left:-0.5rem; margin-top:-0.5rem; margin-top:-0.5rem; margin-bottom:-0.5rem">
                  </p-multiSelect>
                  <input *ngSwitchDefault style="width: 80px" pInputText type="text" [(ngModel)]="col.delegate.var(rowData).value"
                  style="width:100px; margin-left:-0.5rem; margin-top:-0.5rem; margin-top:-0.5rem; margin-bottom:-0.5rem">
                  </ng-template>

                <ng-template pTemplate="output"[ngSwitch]="true">

                  <ng-container *ngSwitchCase="col.type=='number'">
                    {{col.delegate.var(rowData).value | number: '1.2-2'}}
                  </ng-container>
                  <ng-container *ngSwitchCase="col.type=='date'">
                    {{col.delegate.var(rowData).value | date: 'dd.MM.yyyy'}}
                  </ng-container>
                  <ng-container *ngSwitchCase="col.type=='person'">
                    {{col.delegate.label(rowData)}}
                  </ng-container>
                  <ng-container *ngSwitchCase="col.type=='persons'">
                    {{col.delegate.label(rowData)}}
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    {{col.delegate.var(rowData).value}}
                  </ng-container>

                </ng-template>

              </p-cellEditor>
            </td>

            <ng-container *ngSwitchDefault [ngSwitch]="true">

              <td *ngSwitchCase="col.type=='number'" class="rightClass">
                {{col.delegate.var(rowData).value | number: '1.2-2'}}
              </td>
              <td *ngSwitchCase="col.type=='date'">
                {{col.delegate.var(rowData).value | date: 'dd.MM.yyyy'}}
              </td>
              <td *ngSwitchDefault>
                {{col.delegate.var(rowData).value}}
              </td>

            </ng-container>

          </ng-container>
          <td style="text-align:center">
              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
              <button *ngIf="!editing" pButton pRipple type="button" pAddRow icon="pi pi-copy" [table]="dt" [belowOf]="ri" [newRow]="onRowNewInit(rowData)" class="p-button-rounded p-button-text"></button>
              <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(rowData)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
              <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(rowData, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
          </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer" let-columns>
      <tr>
	  <ng-container *ngFor="let col of columns" [ngSwitch]="true">
        <td class="rightClass" *ngSwitchCase="col.type=='number'">{{col.footer | number: '1.2-2'}}</td>
        <td *ngSwitchDefault>{{col.footer}}</td>
	  </ng-container>
	   </tr>
    </ng-template>
  </p-table>
</p-card>

<br/>

<button pButton type="button"icon="pi pi-plus" class="ui-button-info" [label]="'Add'"
pAddRow [table]="dt" [newRow]="onRowNewInit(null)"></button>


<!--div class="card">
  <h5>Row Editing</h5>
      <p-table #dt [value]="products2" dataKey="id" editMode="row">
          <ng-template pTemplate="header">
              <tr>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Quantity</th>
                  <th style="width:8rem"></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product let-c let-editing="editing" let-ri="rowIndex">
              <tr [pEditableRow]="product">
                  <td pEditableColumn>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="product.code">
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{product.code}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td pEditableColumn>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="product.name" required>
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{product.name}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td pEditableColumn>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <p-dropdown [options]="statuses" [(ngModel)]="product.inventoryStatus" [style]="{'width':'100%'}"></p-dropdown>
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{product.inventoryStatus}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td pEditableColumn>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="product.price">
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{product.price | currency: 'USD'}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td style="text-align:center">
                      <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-plus" (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                      <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(product)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                      <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(product, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                  </td>
              </tr>
          </ng-template>
      </p-table>
  </!div-->

<!--button pButton type="button"icon="pi pi-plus" class="ui-button-info" [label]="'Add'"
pAddRow [table]="dt" [newRow]="newRow()"></!--button-->
