<p-toast></p-toast>

<p-contextMenu #personMenu [model]="personMenuItems"></p-contextMenu>

<p-card header="Personen">
  <p-table #dt1 [value]="persons" [(contextMenuSelection)]="selectedPerson"
  [contextMenu]="personMenu" styleClass="p-datatable-sm"
  editMode="row" dataKey="id" [style]="{width:'280px'}" (onRowReorder)="onRowReorder($event)">
    <ng-template pTemplate="caption">
      <div class="flex">
        <button type="button" pButton pRipple icon="pi pi-file" (click)="saveToFile()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
        <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="*/*" [maxFileSize]=maxSize (onUpload)="readFromFile($event)" [auto]="true" chooseLabel="Browse"></p-fileUpload>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width:20px;"></th>
          <th>Name</th>
          <th>Kürzel</th>
          <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-editing="editing" let-rowData let-pi="rowIndex">
        <tr [pEditableRow]="rowData" [pContextMenuRow]="rowData" [pReorderableRow]="pi">
          <td>
              <span class="pi pi-bars" [pReorderableRowHandle]="pi"></span>
          </td>
          <td style="width:80px">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="rowData.name"
                style="width:60px; margin-left:-0.5rem; margin-top:-0.5rem; margin-top:-0.5rem; margin-bottom:-0.5rem">
              </ng-template>

              <ng-template pTemplate="output">
                {{rowData.name}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="rowData.letter"
                style="width:30px; margin-left:-0.5rem; margin-top:-0.5rem; margin-top:-0.5rem; margin-bottom:-0.5rem">
              </ng-template>

              <ng-template pTemplate="output">
                {{rowData.letter}}
              </ng-template>
            </p-cellEditor>
          </td>
          <!---->
          <td style="text-align:center; padding-top:0.1rem; padding-bottom:0.1rem" >
              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
              <button *ngIf="!editing" pButton pRipple type="button" (click)="onItemDelete(rowData)" icon="pi pi-times" class="p-button-rounded p-button-text"></button>
              <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onItemEditSave(rowData, pi)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
              <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onItemEditCancel(rowData, pi)" class="p-button-rounded p-button-text p-button-danger"></button>
          </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer" let-columns>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align:center">
          <button pButton type="button"icon="pi pi-plus" class="p-button-rounded p-button-text" [label]=""
          pAddRow [table]="dt1" [newRow]="onPersonNewInit(null)" style="margin-top:-0.5rem; margin-bottom:-0.5rem"></button>
        </td>
      </tr>
    </ng-template>

  </p-table>
</p-card>

<p-contextMenu #rowMenu [model]="rowMenuItems"></p-contextMenu>

<p-card header="Daten">
  <p-table #dt [value]="rows" [(contextMenuSelection)]="selectedRow" [contextMenu]="rowMenu" styleClass="p-datatable-sm" [columns]="cols" dataKey="id" editMode="row" (sortFunction)="customSort($event)" [customSort]="true" [style]="{width:'1200px'}">
    <ng-template pTemplate="header" let-columns>
        <tr>
          <ng-container *ngFor="let col of columns" [ngSwitch]="true">
            <th *ngSwitchCase="col.label !== ''" pSortableColumn="{{col.id}}">
              {{col.label}}<p-sortIcon *ngSwitchCase="col.label !== ''" field="{{col.id}}"></p-sortIcon>
            </th>
            <th *ngSwitchDefault>
              {{col.label}}
            </th>
          </ng-container>
        <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="rowData" [pContextMenuRow]="rowData">
          <ng-container *ngFor="let col of columns" [ngSwitch]="true">

            <td *ngSwitchCase="col.editable">
              <p-cellEditor>

                <ng-template pTemplate="input" [ngSwitch]="true">
                  <p-calendar *ngSwitchCase="col.type=='date'" styleClass="calendar" [inputStyle]="{'width':'100px'}"
                      [(ngModel)]="col.delegate.var(rowData).value"
                      appendTo="body"
                      dateFormat="{{'dd.mm.yy'}}"
                      placeholder="{{col.delegate.var(rowData).value | date: 'dd.MM.yyyy'}}">
                  </p-calendar>
                  <p-dropdown *ngSwitchCase="col.type=='person'" [options]="persons" optionLabel="letter" appendTo="body" [(ngModel)]="col.delegate.var(rowData).value"
                  ></p-dropdown>
                  <p-multiSelect *ngSwitchCase="col.type=='persons'" [options]="personsPlusA" optionLabel="letter" [filter]="false" [showToggleAll]="false" [showHeader]="false" appendTo="body" [(ngModel)]="col.delegate.var(rowData).value">
                  </p-multiSelect>
                  <input *ngSwitchDefault style="width: 80px" pInputText type="text" [(ngModel)]="col.delegate.var(rowData).value">
                  </ng-template>

                <ng-template pTemplate="output"[ngSwitch]="true">

                  <ng-container *ngSwitchCase="col.type=='number'">
                    {{col.delegate.var(rowData).value | number: '1.2-2'}}
                  </ng-container>
                  <ng-container *ngSwitchCase="col.type=='date'">
                    {{col.delegate.var(rowData).value | date: 'dd.MM.yyyy'}}
                  </ng-container>
                  <ng-container *ngSwitchCase="col.type=='person'">
                    {{col.delegate.label(rowData)}}
                  </ng-container>
                  <ng-container *ngSwitchCase="col.type=='persons'">
                    {{col.delegate.label(rowData)}}
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    {{col.delegate.var(rowData).value}}
                  </ng-container>

                </ng-template>

              </p-cellEditor>
            </td>

            <ng-container *ngSwitchDefault [ngSwitch]="true">

              <td *ngSwitchCase="col.type=='number'" class="rightClass">
                {{col.delegate.var(rowData).value | number: '1.2-2'}}
              </td>
              <td *ngSwitchCase="col.type=='date'">
                {{col.delegate.var(rowData).value | date: 'dd.MM.yyyy'}}
              </td>
              <td *ngSwitchDefault>
                {{col.delegate.var(rowData).value}}
              </td>

            </ng-container>

          </ng-container>
          <td style="text-align:center; padding-top:0.1rem; padding-bottom:0.1rem">
              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
              <button *ngIf="!editing" pButton pRipple type="button" (click)="onItemDelete(rowData)" icon="pi pi-times" class="p-button-rounded p-button-text"></button>
              <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onItemEditSave(rowData, ri)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
              <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onItemEditCancel(rowData, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
          </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer" let-columns>
      <tr>
      <ng-container *ngFor="let col of columns" [ngSwitch]="true">
          <td class="rightClass" *ngSwitchCase="col.type=='number'">{{col.footer | number: '1.2-2'}}</td>
          <td *ngSwitchDefault>{{col.footer}}</td>
      </ng-container>
      <td style="text-align:center">
        <button pButton type="button"icon="pi pi-plus" class="p-button-rounded p-button-text" [label]=""
        pAddRow [table]="dt" [newRow]="onRowNewInit(null)" style="margin-top:-0.5rem; margin-bottom:-0.5rem"></button>
      </td>
	   </tr>
    </ng-template>
  </p-table>
</p-card>

<br/>

<p-confirmDialog [acceptLabel]="'Ja'" [rejectLabel]="'Nein'" [style]="{width: '450px'}"></p-confirmDialog>
