::ng-deep .p-datatable-sm .p-inputtext {
  margin:-0.25rem;
  padding: 0.2rem;
}

::ng-deep .p-datatable-sm .p-button.p-button-icon-only {
  margin:-0.25rem;
  padding: 0.2rem;
}

::ng-deep .p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
  padding: 0.5rem;
  margin:-0.25rem;
  padding-left: 0rem;
}

::ng-deep .pi-bars {
  margin-right:0.5rem;
}

::ng-deep .p-datatable-sm {
  min-width: max-content;
  max-width: max-content;
}
